<template>
  <v-app id="inspire" dark>
    <v-content>
      <v-container fluid class="pa-3 fill-height">
        <v-layout justify-center align-center class="px-0">
          <div class="text-xs-center">
            <div class="headline">password:</div>
            <div class="py-4 pass-cont" @click="onCopy">{{passRes}}</div>

            <v-btn large color="amber" light round @click="getPass">Generate</v-btn>

            <br><br><br>
            <v-slider
              style="max-width: 360px; margin: 15px auto 0;"
              v-model="passLength"
              thumb-label="always"
              :min="8"
              :max="64"
              color="amber"
              dark
            ></v-slider>

            <br>

            <div class="d-inline-flex align-center justify-center">
              <v-checkbox
                v-model="passDigits"
                :label="`Use digits?`"
                color="amber"
                class="mr-4"
                hide-details
              />

              <v-checkbox
                v-model="pasSymbols"
                :label="`Use symbols?`"
                color="amber"
                hide-details

              />
            </div>
          </div>

          <v-snackbar v-model="snackbar" top :timeout="2000" color="success">
            <div class="text-xs-center" style="width: 100%;">{{ snackbarText }}</div>
          </v-snackbar>

          <v-snackbar v-model="snackbarError" top :timeout="2000" color="error">
            {{ snackbarText }}
          </v-snackbar>

        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

  export default {
    data: () => ({
      passLength: 12,
      passDigits: true,
      pasSymbols: true,
      passRes: null,
      snackbar: false,
      snackbarText: false,
      snackbarError: false,
    }),
    methods: {
      getPass() {
        window.backend.basic(this.passLength, this.passDigits, this.pasSymbols).then(result => {
          this.passRes = result;
        });
      },
      onCopy() {
        this.$copyText(this.passRes).then(()=> {
          this.snackbar = true;
          this.snackbarText = 'Copied!';
        }, (e) => {
          this.snackbarError = true;
          this.snackbarText = 'Can not copy. ' + e.message();
          console.log(e)
        })
      }
    },
    created() {
      this.getPass();
    }
  };
</script>

<style>
  .logo {
    width: 16em;
  }

  .pass-cont{
    font-size: 72px;
    cursor: pointer;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .v-slider__thumb-label {
    color: #000;
  }
</style>